@import "tailwindcss";

:root {
  --primary-blue: #004494;
  --accent-red: #e30613;
  --bg-white: #ffffff;
  --bg-light-grey: #f8f9fa;
  --text-main: #212529;
  --border-radius: 4px;

  font-family: 'Inter', system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

* {
  box-sizing: border-box;
}
